language: node_js
sudo: false
node_js:
  - '4.2'

env: BROWSERS=firefox E2E_BROWSERS=Firefox

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
#  - npm run update-webdriver

script:
  - scripts/private/test-all.sh
