<div style="max-width: 350px; margin: 0px auto;">
    <!--<div style="background-color: white; border: 1px solid #ddd; border-radius: 4px; padding:15px;">-->
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Login</h4></div>
        <div class="list-group">
            <a ng-href="#" class="list-group-item" ng-click="login('google')"><img src="https://www.gstatic.com/mobilesdk/160512_mobilesdk/auth_service_google.svg" /> Google</a>
            <a ng-href="#" class="list-group-item"><img src="https://www.gstatic.com/mobilesdk/160409_mobilesdk/images/auth_service_facebook.svg" /> Facebook</a>
            <a ng-href="#" class="list-group-item"><img src="https://www.gstatic.com/mobilesdk/160409_mobilesdk/images/auth_service_twitter.svg" /> Twitter</a>
            <a ng-href="#" class="list-group-item"><img src="https://www.gstatic.com/mobilesdk/160409_mobilesdk/images/auth_service_github.svg" /> Github</a>
        </div>
    </div>
    <!--</div>-->
</div>
