
<div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">

    <div class="panel">
        <div class="panel-heading">
            <div class="pull-right">
                <a class="btn btn-default btn-sm" href="/docs/search"><b><span class="glyphicon glyphicon-search"></span> Search document</b></a>
            </div>
            <h3 class="panel-title" style="font-size:20px;">List of project</h3>
            <div class="clearfix"></div>
        </div>
        <div class="list-group">
            <div class="list-group-item">
                <input type="text" class="form-control" placeholder="Search project" ng-model="searchProject" autofocus="" />
            </div>
            <div class="list-group-item text-center" style="color:#888;font-size:20px;" ng-show="(projects | filter: searchProject).length === 0">
                No record found
            </div>
            <a ng-href="/docs/{{project.projectId}}" class="list-group-item" ng-repeat="project in projects| filter: searchProject" ng-bind="project.projectName"></a>
        </div>
    </div>

</div>

